<div class="container">
    <div class="card">
        <div class="card-header">
            Department List
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>department</th>
                    <th>status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of departmentlist  | paginate
                  : {
                      itemsPerPage: 6,
                      currentPage: pagination,
                      totalItems: allRecords
                    }">
                    <td>{{ item['id'] }}</td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['status']}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
  
  
  <div class="d-flex justify-content-center">
    <pagination-controls
      (pageChange)="renderPage($event)"
    ></pagination-controls>
  </div>



<input type="file" (change)="onFileSelected($event)" accept=".csv" />
<button (click)="importData()">Import</button>
